/node_modules
/public/hot
/public/storage
/public/web-fonts
/public/webfonts
/public/fonts
/public/js
/public/css
/public/mix-manifest.json
/public/sitemap.xml
/vendor
/node_modules
/node_modules/*
/.idea
/.vscode
/.vagrant
/.phpintel
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
composer.lock
/vendor/*
/storage/*.key
/storage/debugbar
/storage/app/*
!/storage/app/public
