$icon-font-path: "voyager-assets?path=fonts/bootstrap/";

// Body
$body-bg: #ffffff;
$body-color: #1b1b1b;
$input-color: #1d1d1d;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

// Dropdown
$dropdown-border-radius: 0;
$dropdown-spacer: 0;
$popover-font-size: 1.1rem;

$table-dark-border-color: $body-color;
$table-dark-bg: #2b333a;
$default-color: #2b333a;

$popover-body-color: #000;
$popover-bg: #F6F8FA;
$popover-body-padding-y: 1rem;
$popover-body-padding-x: 1.2rem;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e6000c;
$orange: #f6993f;
$yellow: #f9b600;
$green: #28a745;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #383636;
$grey-2: #818182;

// Nav tabs
$nav-pills-link-active-bg: #818182;

// Theme
$theme-colors: (
  "default": $default-color,
  'light-2': #F6F8FA,
  "white": #ffffff,
  "dark": #2b333a,
  'dark-2': #242c33,
  "black": #000000,
  "lighter": #fbfbfb,
  "secondary": #f1f1f1,
  "secondary-2": #b3b3b3,
  'pink': #ed264d,
  "warning": #e8a303,
  "success": #28a745,
  "danger": #e6000c,
  'dark-danger': #920f16,
  "soft-danger": #ff5e5e,
  "grey": $grey
);

$pagination-hover-color: #fff;
$pagination-hover-bg: $default-color;
$pagination-hover-border-color: $default-color;
$pagination-color: $default-color;
$pagination-active-bg: $default-color;
$pagination-active-border-color: $default-color;

$container-max-widths: ( 
    lg: 1280px
);

.rounded-xl {
    border-radius: 0.4rem !important;
}

// Extra padding and margins
$spaceamounts: (6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space * 0.8}rem !important;
    }
  
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space * 0.8}rem !important;
    }
  }
}

@for $j from -3 through 12 {
  @each $side in $sides {
      .#{str-slice($side, 0, 1)}-#{$j} {
          #{$side}: #{$j}rem !important;
      }
  }
}

@each $side in $sides {
  .#{str-slice($side, 0, 1)}--1-2 {
      #{$side}: -0.5rem !important;
  }
  .#{str-slice($side, 0, 1)}--1-4 {
      #{$side}: -0.25rem !important;
  }
  .#{str-slice($side, 0, 1)}-1-2 {
      #{$side}: 0.5rem !important;
  }
  .#{str-slice($side, 0, 1)}-1-4 {
      #{$side}: 0.25rem !important;
  }
}

$sides: ('top', 'right', 'bottom', 'left');
$breakpoints: ('sm', 'md', 'lg', 'xl');

$font-sizes: (
    '0-2rem',
    '0-8rem',
    '0-7rem',
    '0-9rem',
    '1rem',
    '1-1rem',
    '1-2rem',
    '1-3rem',
    '1-35rem',
    '1-5rem',
    '1-6rem',
    '1-8rem',
    '2rem',
    '2-1rem',
    '2-2rem',
    '2-4rem',
    '2-5rem',
    '2-6rem',
    '2-8rem',
    '2-9rem',
    '3rem',
    '3-2rem',
    '3-5rem',
    '3-7rem',
    '3-8rem',
    '3-9rem',
    '4rem',
    '5rem',
    '5-3rem',
    '5-8rem'
);

$width-sizes: (
    '70px',
    '80px',
    '84px',
    '100px',
    '110px',
    '120px',
    '170px',
    '190px',
    '215px',
    '335px',
    '420px',
    '434px',
);
